@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


/* Banner */

.banner {
  width: 100%;
  height: 2.5em;
  background-color: #11346F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 0.875rem;
  line-height: 1.875rem;
  color: #FFFFFF;
  letter-spacing: 0.1em;
}


/* Navbar */


.navbar{
  position: relative;
  margin: 0 auto;
  padding: 1.5rem;
  background: rgba(245, 253, 255, 0.8);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(14px);
}

.navbar__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1.5rem;

}

.navbar__logo {
    padding-top: 0.5rem;
}


.navbar__menu {
    display: none;
}

.navbar__menu > * + *  {
	margin-left: 1rem; 
}


.navbar__menu-item-one {
  color: #11346F;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3125rem;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.navbar__menu-items {
  color: #11346F;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3125rem;
  letter-spacing: 0.05em;
  opacity: 0.75;
  cursor: pointer;
}

.navbar__menu-items:hover {
  opacity: 2;
}

.navbar__button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1rem;
    text-align: center;
    color: #FFFFFF;
    background: #197AFF;
    border-radius: 9999px;
    padding: 0.9rem; 
    padding-left: 2rem;
    padding-right: 2rem;
    letter-spacing: 0.05em;
    outline: none;
    display: none;
}

.navbar__button:hover {
  opacity: .8;
}


/* Header */

.header {
  background-color: #FBFBFB;
  height: 38.0625em;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5rem;
}

.header__left {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;

  padding-left: 5rem;
}

.header__left > * + * {
  margin-top: 2.5rem;
}

.header__heading  {
  display: flex;
}

.header__heading h1{ 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 2.625rem;
  line-height: 3.4375rem;
  letter-spacing: 0.05em;
  color: #11346F;
}

.header__heading h1 span {
    color:  #197AFF;  
    z-index: -1;
    background-image: url('assets/headerUnderline.svg');
    background-repeat: no-repeat;
    padding-bottom: .6rem;
    background-position: bottom center;
}


.header__paragraph {
  font-family: 'Roboto';
  width: 731px;
  font-style: normal;
  font-weight: 500;
  font-size: 1.12rem;
  line-height: 28px;
  color: #262626;
}

.header__features {
  display: flex;
  flex-direction: row;
  background: rgba(174, 204, 255, 0.1);
  border: 1px solid rgba(174, 204, 255, 0.5);
  border-radius: 10px;
  width: 42.875em;
  height: 9.5em;
}

.header__features-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  padding: 1.4rem; 
}

.header__features > .header__features-item:nth-child(-n+3) {
  border-right: 1px solid rgba(174, 204, 255, 0.5);
}


.header__features-item h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
  color: #11346F;
}

.header__features-item ul > * {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;


  text-align: center;
  color: #262626;
}

.header__features-item > * + * {
  margin-top: 0.5rem;
}

.header__features-item ul  > * + *  {
  margin-top: 0.2rem;
}

.header__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header__buttons > * + * {
  margin-top: 0.5rem;
}

.header__buttons a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 1.125rem;
  line-height: 1.5rem;
  text-align: center;
  color: #FFFFFF;
  background: #197AFF;
  border-radius: 9999px;
  padding: 1rem; 
  padding-left: 2rem;
  padding-right: 2rem;
  letter-spacing: 0.05em;
  outline: none;
}

.header__buttons a:hover {
  opacity: 0.8;
}

.header__buttons div {
  background: rgba(77, 145, 207, 0.15);
  box-shadow: 0px 0px 14px #FFFFFF;
  border-radius: 30px;
  width: 15em;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;


  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 14px;
  /* identical to box height, or 93% */

  text-align: center;

  color: #000000;


  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}



.header__buttons div span {
  color: #197AFF;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 14px;
}




.header__right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 12rem;
  margin-top: 7rem;

  max-height: 400px;
}


.header__right > * + * {
  margin-top: 3rem;
}

.header__buyer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 393px;
  height: 81px;
  background: rgba(234, 242, 255, 0.1);
  border: 1px solid rgba(174, 204, 255, 0.5);
  border-radius: 110px;
}

.header__buyer-image {
  margin-left: .5rem;
}

.header__buyer-review {
  padding-right: .5rem;
  padding-left: .5rem;
  padding-top: .5rem;

  max-width: 222px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  /* or 142% */


  color: #000000;
}

.header__buyer-verified {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: .5rem;
}

.header__buyer-verified  > * + * {
  margin-left: 2rem;
}

.header__buyer-name {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.header__buyer-name p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  color: #787979;
}

.header__buyer-name > * +  * {
  margin-left: .5rem;
}


.header__buyer-verified-buyer {
  display: flex;
  
  align-items: center;
  justify-content: center;
  margin-right: .7rem;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #197AFF;
}

.header__buyer-verified-buyer > * + * {
  margin-left: .3rem;
}







/* Banner */


.banner__two {
  width: 100%;
  height: 5em;
  background-color: #11346F;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.banner__two > * + * {
  	margin-left: 4rem;
}

.banner__two-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.banner__two-item > * + * { 
  	margin-left: 1rem;

}

.banner__two-paragraph-desktop {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 0.875rem;
  line-height: 1.875rem;
  color: #FFFFFF;
  letter-spacing: 0.1em;
}

.banner__two-paragraph-mobile {
  display: none;
}

.banner__two-image {
  display: none;
}

.banner__two-svg {
  width: 3.125em;
	object-fit: cover;
}




/* Payments */

.payments {
  background: linear-gradient(118.72deg, #AECCFF -18.14%, #197AFF 165.34%);
  height: 48.125em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.payments > * + *	{
  margin-top: 3rem;
}

.payments .payments__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.payments .payments__heading h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 49px;
  letter-spacing: 0.05rem;
  
  color: #11346F;
}


.payments .payments__heading h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 37px;
  line-height: 50px;
  letter-spacing: 0.05rem;
  background-image: url('assets/h2underline.svg');
  background-repeat: no-repeat;
  padding-bottom: .6rem;
  background-position: bottom center;

  color: #FFFFFF;
}


.payments__card-mobile {
  display: none;
}

.payments__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.payments__card  > * + * {
  margin-left: 3.12rem;
}



.payments__card-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 23em;
  height: 33.125em; 
  background: #f6f8fcaf;
  border: 1.5px solid #197AFF;
  border-radius: 18px;
}

.payments__card-item-one-image {
  position: relative;
  top: -2.7em;
}

.payments__card-item.one div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.payments__card-item.one > * + *	{
  margin-top: 1.5rem;
}

.payments__card-item.one h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 37px;
  color: #11346F;
}

.payments__card-item.one h2 {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  color: #11346F;
}

.payments__card-item-paragraph {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #11346F;
}

.payments__card-item-paragraph-two {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #11346F;
}

.payments__card-item-price {
  display: flex;
  flex-direction: column !important;
}

.payments__card-item-guarantee > * + * {
  margin-left: .5rem;
}

.payments__card-item-afterpay p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: .8rem;
  line-height: 16px;
  text-transform: capitalize;
  color: #11346F;
}

.payments__card-item-afterpay div {
  width: 77px;
  height: 17.11px;
  background: #BCF5E3;
  border-radius: 40px;
}

.payments__card-item-afterpay > * + * {
  margin-left: .5rem;
}


.payments__card-item-container {
  display: flex;
  flex-direction: column !important;
}


.payments__card-item-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 331px;
  height: 53px;
  background: #197AFF;
  box-shadow: 0px 7px 14px rgba(25, 122, 255, 0.5);
  border-radius: 60px;

  font-family: 'Mont';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.payments__card-item-container a:hover {
  opacity: 0.8;
}

.payments__card-item-container div > * + * {
  margin-left: 1rem;
}




.payments__card-item_two {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  width: 23em;
  height: 33.125em;
  background: linear-gradient(180deg, #FFFFFF 0%, #D7E6FF 100%);
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  border: 1.5px solid #197AFF;
  border-radius: 18px;
}


.payments__card-item-two-image {
  position: relative;
  top: -2.5em;
}




.payments__card-item_two-mp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 126px;
  height: 28px;

  background: #57AC73;
  border-radius: 50px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: .05rem;
  color: #FFFFFF;
}


.payments__card-item_two h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #11346F;
  
  margin-bottom: 1rem;
}

.payments__card-item_two h1 span {
  color: #197AFF; 
  z-index: -1;
  background-image: url('assets/cardunderline.svg');
  background-repeat: no-repeat;
  padding-bottom: .3rem;
  /* background-size: cover; */
  background-position: bottom center;
}

.payments__card-item-two-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  margin-bottom: 1rem;
}

.payments__card-item-two-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 331px;
  height: 53px;
  background: #197AFF;
  box-shadow: 0px 7px 14px rgba(25, 122, 255, 0.5);
  border-radius: 60px;

  font-family: 'Mont';
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.payments__card-item-two-container a:hover {
  opacity: 0.8;
}

.payments__card-item-two-container div > * + * {
  margin-left: 0.8rem;
}

.payments__card-item_two  > * + *	{
  margin-top: 0.4rem;
}


.payments__card-item-two-price {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.payments__card-item-two-newprice {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.payments__card-item-two-newprice h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 43px;
  text-align: center;
  color: #11346F;
}

.payments__card-item-two-newprice p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #11346F;
}

.payments__card-item-two-oldprice {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  color: #93A2BB;


  background-image: url('assets/priceline.svg');
  padding: 0 2rem;
  background-repeat: no-repeat;
  background-position: center;
}

.payments__card-item-two-afterpay {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}


.payments__card-item-two-afterpay p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: .8rem;
  line-height: 16px;
  text-transform: capitalize;
  color: #11346F;
}

.payments__card-item-two-afterpay div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77px;
  height: 17.11px;
  background: #BCF5E3;
  border-radius: 40px;
}

.payments__card-item-two-afterpay > * + * {
  margin-left: .5rem;
}



.payments__card-item-two-save {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 330.2px;
  height: 85px;

  
  border: 1px solid #AECCFF;
  border-top: 0px;
  /* border-top-left-radius: 20px; */
  border-radius: 20px;

  background-image: url('assets/discountBar.png');
  background-repeat: no-repeat;
  background-position: top center;
}

.payments__card-item-two-discount {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.payments__card-item-two-discount > * + *{
  margin-left: 2rem;
}


.payments__card-item-two-discount-one {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  color: #11346F;
}


.payments__card-item-two-discount-two {
  display: flex;
  
  height: 43px;
  
  align-items: center;
  justify-content: center;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #11346F;


}


.payments__card-item-two-discount-two > * + * {
  margin-left: .3rem;
} 



.payments__card-item-two-remaining {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 13px;
  line-height: 17px;
  color: #11346F;

  margin: auto 0;
  text-align: center;
}







.payments__card-item-three-image {
  position: relative;
  top: -2.3em;
}

.payments__card-item_three-mp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 126px;
  height: 28px;

  background: #AC5780;
  border-radius: 50px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: .05rem;
  color: #FFFFFF;

}


.payments__card-item.three h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  color: #11346F;
  margin-bottom: 1rem;
}

.payments__card-item.three h1 span {
  color: #197AFF; 
  z-index: -1;
  background-image: url('assets/cardunderline.svg');
  background-repeat: no-repeat;
  padding-bottom: .3rem;
  
  background-position: bottom center;
}

.payments__card-item-two-remaining.hourglass {
  display: flex;
}

.payments__card-item-two-remaining.hourglass img {
  margin-right: .4rem;
}

.payments__card-item > * + *	{
  margin-top: 0.4rem;
}






/* Reviews */


.reviews {
  height: 722px;
  background: #F6F8FC;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.reviews > * + * {
  margin-top: 1rem;
}


.reviews-heading {
  display: flex;
  justify-content: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 37px;
  line-height: 49px;
  color: #11346F;
  margin-bottom: 2rem;
}


.reviews-write {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 133px;
  height: 30px;
  background: #F6F8FC;
  border: 1px solid #213786;
  border-radius: 5px;
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #3A3075;
}


.reviews-heading span {
  color: #197AFF;
  background-image: url('assets/reviewsunderline.svg');
  background-repeat: no-repeat;
  padding-bottom: .6rem;
  background-position: bottom center;
}


.reviews__reviews {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-direction: row;

  margin: 0 auto;
  max-width: 1227px;
}

.reviews__reviews > * + * {
  margin-left: 53rem;
}

.reviews__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.reviews-count {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  font-family: 'Mont';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #11346F;
}
.reviews-count > * + * {

  margin-left: .4rem;
}


.reviews__card > * + * {
  margin-left: 2rem;
}


.reviews__card-item {
  width: 285px;
  height: 472px;

  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  border-radius: 10px;
}

.reviews__card-reviewer {
  padding:  .5rem .5rem;
}

.reviews__card-item-buyer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.reviews__card-item-buyer h2 {
  font-family: 'Mont';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
  color: #11346F;
}

.reviews__card-item-buyer div { 
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: .03rem;
  text-align: center;
  color: #89C25F;

  margin-right: 1rem;
}


.reviews__card-item-buyer div > * + * {
  margin-left: .4rem;
}

.reviews__card-item-text {
  margin-top: 0.4rem;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 26px;
  letter-spacing: .06rem;
  color: #262626;
}






/* FAQ */

.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 616px;
  background: #11346F;
}

.faq h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 37px;
  line-height: 49px;
  color: #FFFFFF;
  margin-bottom: 3rem;
}

.faq h1 span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 37px;
  line-height: 49px;


  background-image: url('assets/faqUnderline.svg');
  background-repeat: no-repeat;
  padding-bottom: .6rem;
  
  background-position: bottom center;
}

.faq__image-mobile {
  display: none;
}

.faq__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.faq__container > * + * {
  margin-left: 5rem;
}


.faq__accordion-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #AECCFF;

  width: 652px;
  height: 59px;
  padding: 0 1rem;
  

  background: #194081;
  border: 1px solid #31548E;
  border-radius: 9px;
}



.faq__accordion > * + *{
  margin-top:  .7rem;
}


.active, .accordion:hover {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background: #194081;
  border: 1px solid #31548E;
  border-radius: 9px 9px 0px 0px;
}

.answer {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 18px;
  background-color: #11346F;;
  height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}



.answer p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #AECCFF;
}


.seeAll {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #F6F8FC;
  cursor: pointer;
  margin-top: 2rem;
}




/* Mobile Responsiveness */


/* @media (min-width: 480px) {
}


@media (min-width: 768px) {
} */


@media (min-width: 976px) {
  /* Navbar */
  .navbar__menu {
    display: flex;
  }
  .navbar__button {
    display: block;
  }
  .navbar__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar__menu > * + *  {
  	margin-left: 3.5rem; 
  }
  
}

/* @media (min-width: 1440px) {
} */



@media (max-width: 1080px) {

  /* Banner */
  .banner__two {
    height: 101px
  }
  .banner__two-item.banner-three  {
    display: none;
  }
  .banner__two-image {
    display: flex;
  }
  .banner__two-svg  {
    display: none;
  }
  .banner__two-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .banner__two-item > * + * {
    margin-top: .4rem;
  }
  .banner__two-paragraph-desktop {
    display: none;
  }
  .banner__two-paragraph-mobile{
    display: flex;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    letter-spacing: 0.1em;
    
    width: 150px;
    height: 36px;
  }

  /* Payments */
  .payments {
    height: 1655px;
  }

  .payments__card {
    display: none;
  }

  .payments__card-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
  }

  .payments__card-mobile > * + * {
    margin-top: 4rem;
  }

  .payments__card-item_two {
    width: 378px;
    height: 468px;
  }


  .payments__card-item-two-container a {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }

  .payments__card-item-two-container div{
    margin-top: .5rem;
  }

  .payments__card-item_two h1 {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: .7rem;
  }

  .payments__card-item_two h1 span {
    font-weight: 900;
  }

  .payments__card-item-two-price > * + * {
    margin-left: 1rem;
  }

  .payments__card-item-two-newprice h2 {
    font-size: 25px;
    line-height: 31px;
  }

  .payments__card-item-two-oldprice {
    font-size: 25px;
    line-height: 31px;
    padding: 0 .5rem;
  }


  .payments__card-item-two-afterpay p {
    font-size: 11px;
    line-height: 15px;
  }

  .payments__card-item-two-save {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 330.2px;
    height: 85px;
  }

  .payments__card-item-two-discount-two p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.03rem;
    color: #11346F;
  }

  .payments__card-item-two-discount {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .payments__card-item-two-discount > * + *{
    margin-left: 3rem;
  }



  .payments__card-item-two-discount-two > * + * {
    margin-left: .3rem;
  } 


  .payments__card-item {
    width: 378px;
    height: 455px;
  }

  .payments__card-item.three h1 {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: .7rem;
  }

  .payments__card-item.three h1 span {
    font-weight: 900;
  }

  .payments__card-item.three  > * + * {
    margin-left: 1rem;
  }

  .payments__card-item.three h2 {
    font-size: 25px;
    line-height: 31px;
  }

  .payments__card-item.three h1 span {
    font-weight: 900;
  }

  .payments__card-item.three  > * + * {
    margin-left: 1rem;
  }

  .payments__card-item.three  h2 {
    font-size: 25px;
    line-height: 31px;
  }


  .payments__card-item.one {
    width: 378px;
    height: 387px;
  }

  .payments__card-item.one > * + * {
    margin-top: 1rem;
  }

  .payments__card-item-one-image {
    position: relative;
    top: 1em;
  } 

  .payments__card-item.one h1 {
    font-size: 24px;
    line-height: 29px;
    margin-top: 3rem;
  }

  .payments__card-item.one h2 {
    font-size: 25px;
    line-height: 31px;
  }

  .payments__card-item-afterpay p {
    font-size: 11px;
    line-height: 15px;
  }

  .payments__card-item-container {
    margin-bottom: 2rem;
  }

  .payments__card-item-container a {
    margin-bottom: 0;
  }

  .payments__card-item-container div {
    margin-top: 1rem;
  }


  

  /* FAQ */
  .faq {
    height: 784px;
    display: flex;
     justify-content: center;
     align-items: center;
  }

  .faq__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .faq__image {
    display: none;
  }

  .faq__image-mobile { 
    display: flex;
    margin: 0;
  }

  /* .faq__container {
    margin: 0 auto;
  } */

  .faq h1 {
    width: 260px;
    text-align: center;
    font-size: 30px;
    line-height: 47px;
  }

  .faq h1 span {
    font-size: 30px;
    line-height: 47px;
    text-align: center;
    background-image: url('assets/faqUnderlineMobile.svg');
    background-repeat: no-repeat;
    padding-bottom: .6rem;
    
    background-position: bottom center;
  }

  .faq__accordion {
    margin: 0;
    margin-top: 1rem;
  }

  .faq__accordion-item  {
    width: 378px;
    height: 59px;
    font-size: 16px;
    line-height: 20px;
  }

  .faq__accordion-item p {
    width: 296px;
  }

  .answer {
    padding: 0;
  }

  .answer p {
    font-size: 14px;
    line-height: 22px;
    width: 355px;
    padding: 1rem;
  }

  .seeAll {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .seeAll img {
    margin-left: 0.5rem;
  }
  
}

@media (max-width: 768px) {
  
}
